.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}

.leftSide {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #e7f4fc;
}

.rightSide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes slideOut {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* Style for the card */
.sectionHeader {
  background-color: azure;
  padding: 1rem;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  border: 1px solid #ddd;
}

.card {
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  border: 1px solid #ddd;
  border-top: none;

  overflow: hidden;
  transition: transform 0.5s ease-in-out;
}

.slide-out {
  transform-origin: top;
  animation: slideOut 0.2s linear forwards;
}

h2,
h3,
body {
  margin: 0;
  padding: 0;
}

.section {
  display: flex;
  flex-direction: column;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-weight: bold;
  color: #333;
}

.formContainer {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.formGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="url"] {
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  text-align: center;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus {
  border-color: #007bff;
  outline: none;
}

button {
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: 1px #333 solid;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

.marginBottom {
  margin-bottom: 1em;
}

.marginTop {
  margin-top: 1em;
}
.listItems {
  display: flex;
  justify-content: space-between;
}

li {
  list-style-type: none;
  font-size: large;
}

.head {
  font-size: x-large;
}

.activeHeader {
  background-color: #007bff;
}

.delete {
  background-color: rgb(253, 75, 75);
}

.delete:hover {
  background-color: rgb(185, 2, 2);
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titleRight {
  display: flex;
}
