.main {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  height: 100vh;
}

.leftSide {
  display: flex;
  flex-direction: column;
  background-color: beige;
}

.rightSide {
  display: flex;
  flex-direction: column;
}
